#chatBoxIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 6;
}

#chatBox {
    position: absolute;
    background-color: black;
    width: 15%;
    height: 85%;
    right: 0px;
    top: 0px;
    z-index: 5;
}

#chatFeed {
    user-select: text;
    position: absolute;
    display: flex;
    justify-content: end;
    overflow-wrap: break-word;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    height: 90%;
    top: 0%;
    background-color: #1a1a1a;
    color: #9a9a9a;
}

#chatFeed > div {
    margin-bottom: 4%;
}

#chatFeed > div > .chat-text {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 5%;
}

#chatFeed > div > .chat-nick {
    font-weight: bold;
    font-size: 1.8vh;
}

#chatFeed > div > .chat-message {
    font-size: 2vh;
}

#chatInput {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
    outline: none;
    resize: none;
    border: none;
    background-color: #3a3a3a;
    color: #9a9a9a;
}

.elementBGone {
    visibility: hidden;
}

.videoCR {
    position: absolute;
    width: 85% !important;
    height: 85% !important;
    left: 0px;
    top: 0px;
}

.canvasCR {
    position: absolute;
    width: 85% !important;
    height: 85% !important;
    left: 0px;
    top: 0px;
}
