#chatBoxIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 600000;
}

#crossWatchSidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 85%;
    right: 0px;
    top: 0px;
    z-index: 500000;
}

#toggleSilenceMenu {
    position: relative;
    background-color: #2a2a2a;
    color: #9c9c9c;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 6%;
    cursor: pointer;
}

:fullscreen #toggleSilenceMenu {
    font-size: 25px;
}

#toggleSilenceMenu > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4%;
}

.sidebarSection {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94%;
}

#chatFeed {
    user-select: text;
    display: flex;
    justify-content: end;
    overflow-wrap: break-word;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    height: 85%;
    top: 0%;
    background-color: #1a1a1a;
    color: #9a9a9a;
    pad-bottom: 4px;
}

#chatBox > *::-webkit-scrollbar {
    width: 10px;
}

#chatBox > *::-webkit-scrollbar-track {
    background: transparent;
}

#chatBox > *::-webkit-scrollbar-thumb {
    width: auto;
    background-color: #6a6a6a;
}

#chatFeed > div {
    margin-top: 3%;
}

:fullscreen #chatFeed > div {
    margin-top: 2%;
}

#chatFeed > div:last-child {
    margin-bottom: 3%;
}

:fullscreen #chatFeed > div:last-child {
    margin-top: 2%;
}

#chatFeed > div > .chat-text {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 4%;
    font-size: 12px;
    line-height: 1.1em;
}

:fullscreen #chatFeed > div > .chat-text {
    font-size: 25px;
    margin-left: 2%;
}

#chatFeed > div > .chat-nick {
    font-weight: bold;
    font-size: 11px;
}

/*#chatFeed > div > .chat-message {
    margin-left: 4%;
}*/

#chatInput {
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    bottom: 0px;
    left: 0px;
    outline: none;
    resize: none;
    border: none;
    background-color: #3a3a3a;
    color: #9a9a9a;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1em;
}

:fullscreen #chatInput {
    font-size: 28px;
}

#syncMessage {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #f72445;
    color: white;
    opacity: 0.5;
    padding: 5px;
    border-radius: 10px;
    z-index: 500100;
}

/* Simple fix for Funimation video width */
@media (min-width: 992px) {
    .col-md-10 {
        width: 100% !important;
    }
}

.elementBGone {
    display: none !important;
}

.elementBHidden {
    visibility: hidden !important;
}

/* Use specificity to override !important properties in Funi CSS */
#funimation-player > div > .videoFuni, .videoCR, #jwplayer-container > .jw-wrapper > .jw-media > .videoWaka {
    position: absolute;
    width: 85% !important;
    left: 0px;
    top: 0px;
    bottom: unset;
    right: unset;
}

#funimation-player > div > .videoFuni,#jwplayer-container > .jw-wrapper > .jw-media > .videoWaka {
    height: unset !important;
}

.crunchyBetaWidth :not(:fullscreen) #vilosRoot {
    max-width: 177.777777777777778vh;
}

/* Trick: The viewport is the iframe, so we can use
 * viewport width to maintain 16:9 aspect ratio for
 * both video and canvas when resizing. */
.videoCR {
    height: 85vw !important;
    height: 47.8125vw !important;
}

.canvasCR {
    position: absolute;
    width: 85vw !important;
    height: 47.8125vw !important;
    left: 0px;
    top: 0px;
}
