#chatBoxIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 600000;
}

#chatBox {
    position: absolute;
    background-color: black;
    width: 15%;
    height: 85%;
    right: 0px;
    top: 0px;
    z-index: 500000;
}

#chatFeed {
    user-select: text;
    position: absolute;
    display: flex;
    justify-content: end;
    overflow-wrap: break-word;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    height: 90%;
    top: 0%;
    background-color: #1a1a1a;
    color: #9a9a9a;
    pad-bottom: 4px;
}

#chatBox > *::-webkit-scrollbar {
    width: 10px;
}

#chatBox > *::-webkit-scrollbar-track {
    background: transparent;
}

#chatBox > *::-webkit-scrollbar-thumb {
    width: auto;
    background-color: #6a6a6a;
}

#chatFeed > div {
    margin-top: 3%;
}

:fullscreen #chatFeed > div {
    margin-top: 2%;
}

#chatFeed > div:last-child {
    margin-bottom: 3%;
}

:fullscreen #chatFeed > div:last-child {
    margin-top: 2%;
}

#chatFeed > div > .chat-text {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 4%;
    font-size: 12px;
    line-height: 1.1em;
}

:fullscreen #chatFeed > div > .chat-text {
    font-size: 25px;
    margin-left: 2%;
}

#chatFeed > div > .chat-nick {
    font-weight: bold;
    font-size: 11px;
}

/*#chatFeed > div > .chat-message {
    margin-left: 4%;
}*/

#chatInput {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
    outline: none;
    resize: none;
    border: none;
    background-color: #3a3a3a;
    color: #9a9a9a;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1em;
}

:fullscreen #chatInput {
    font-size: 28px;
}

/* Simple fix for Funimation video width */
@media (min-width: 992px) {
    .col-md-10 {
        width: 100% !important;
    }
}

.elementBGone {
    visibility: hidden !important;
}

/* Use specificity to override !important properties in Funi CSS */
#funimation-player > div > .videoFuni, .videoCR, #jwplayer-container > .jw-wrapper > .jw-media > .videoWaka {
    position: absolute;
    width: 85% !important;
    height: 85% !important;
    left: 0px;
    top: 0px;
    bottom: unset;
    right: unset;
}

#funimation-player > div > .canvasFuni, .canvasCR {
    position: absolute;
    width: 85% !important;
    height: 85% !important;
    left: 0px;
    top: 0px;
}
