@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
  font-family: Roboto;
  color: #333;
  font-size: 15px;
  line-height: 16px;
}

.container {
  width: 290px;
  background-color: white;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
    width: 280px;
    margin-top: 5px;
}

#releaseNotesLink {
    position: absolute;
    left: 6px;
    top: 6px;
    color: #0089ff;
    cursor: pointer;
    font-size: 10px;
}

#releaseNotes > ul {
    padding-left: 20px;
    text-align: left;
    list-style-type: square;
}

#releaseNotes > ul > li {
    margin-bottom: 5px;
}

#releaseNotes > ul > li:first-child > .version {
    font-weight: bold;
}

h2 {
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

h1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #F72445;
}

button {
  justify-content: center;
  cursor: pointer;
  padding: 0px;
  height: 41px;
  width: 139px;
  background-color: #F72445;
  color: #FFFFFF;
  outline: none;
  display: flex;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  border: 0px solid #34c1e5;
  border-radius: 4px;
}

input {
  padding: 0px;
  width: 100%;
  height: 30px;
  color: #444;
  outline: none;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: 10px;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  filter: brightness(85%);
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.displaySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
}

.noDisplay {
  display: none;
}
